.FormulaRenderContentComponent {
    padding: 10px;
    width: 45%;

    .Formula__textarea {
        width: 100%;
        height: 60px;
        padding: 1px;
        padding-left: 2px;
        font-weight: 300;
        font-size: 20px;
        line-height: 50px;
    }

    .textarea-error {
        border: 1px solid #f44336;
    }

    .Formula__OperabilitySection {
        display: flex;
        height: calc(100% - 60px);

        .operationKeys {
            width: 20%;

            .operationKey {
                width: 55px;
                height: 37px;
                background: #464255;
                border-radius: 5px;
                font-weight: 400;
                font-size: 24px;
                line-height: 40px;
                color: white;
                border: none;
                margin: 2px;
                cursor: pointer;
                transition: box-shadow 0.3s;

                &:hover {
                    box-shadow: 0 0 11px #464255;
                }
            }
        }

        .tagsAndNumbers {
            display: flex;
            width: 80%;

            .tagsAndNumbers__Tabs {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .tagsAndNumbers__Tab {
                    width: 100%;
                    height: 32px;
                    border: none;
                    background-color: #f5f4f9;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    .Tab__Mark {
                        height: 32px;
                        border-radius: 0px 10px 10px 0px;
                    }

                    .Tab__Mark--open {
                        width: 7px;
                        background-color: #464255;
                    }

                    .Tab__Mark--close {
                        width: 5px;
                        background-color: #d0d6de;
                    }

                    &:hover {
                        .Tab__Mark {
                            height: 32px;
                            border-radius: 0px 10px 10px 0px;
                            width: 7px;
                            background-color: #d0d6de;
                        }
                    }
                }

                .tagsAndNumbers__Tab--close {
                    background-color: white;
                }
            }

            .tagsAndNumbers__panel {
                width: 70%;
                height: 100%;
                background-color: #f5f4f9;
                border-radius: 5px;
            }
        }
    }
}
