$success: #10c446;
$danger: #ff2e2e;
// $warning: #f1eee4;
$warning: #cfac37;
$default: #4e483d;

.toast-item {
  min-width: 320px;
  height: 42px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  z-index: 1503;
  cursor: pointer;

  transition: all 300ms ease-out;
  animation: slide-show ease-out 350ms;

  .toast-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .toast-icon {
      width: 9%;
      max-width: 27px;
      max-height: 25px;
      // padding: 10px;
      height: 100%;
      margin-left: 13px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .toast-message {
      width: 91%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;

      .message {
        font-family: inherit;
        font-size: 17px;
        color: white;
        user-select: none;
        white-space: nowrap;
        padding-left: 8px;
      }
    }
  }
}

.item-hidden {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.toast-danger {
  background-color: $danger;
}

.toast-success {
  background-color: $success;
}

.toast-warning {
  background-color: $warning;
}

.toast-default {
  background-color: $default;
}

.left-bottom {
  left: 10px;
  bottom: 10px;
}

.right-bottom {
  right: 10px;
  bottom: 10px;
}

@keyframes slide-show {
  from {
    bottom: 0px;
    opacity: 0;
  }

  to {
    bottom: 10px;
    opacity: 1;
  }
}
